body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,img,div,dl,dt,dd,input{
	margin: 0;
	padding: 0;
}
body{
	font-family: "宋体";
	font-size: 12px;
}
img{
	border: none;
}
li{
	list-style: none;
}
input,select,textarea{
	outline: none;
	border: 0;
}
textarea{
	resize: none;
}
a{
	color: #000;
	text-decoration: none;
}
.clearfix:after{
	content: ".";
	height: 0;
	display: block;
	visibility: hidden;
	clear: both;
}
.clearfix{
	zoom: 1;
}